<h1>Movie Search Engine</h1>

{{!--
  action -> the url to which the form is submited.
            is by default the url that is in the URL bar
  method -> request method with which form is submited.
            is by default set to GET
--}}

<form action="/search" method="GET">
  <input type="search" placeholder="Search for any movie..." name="q" />
  <button>Search</button>
</form>
