<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
      }
      
      body {
        max-width: 40em;
        margin: 0 auto;
        margin-top: 2em;
        font-family: sans-serif;
        line-height: 1.5;
      }

      input,
      button {
        font: inherit;
        border: 0;
        padding: 1em;;
      }

      form {
        display: flex;
      }

      form input {
        flex: 1;
      }

      form button {
        flex: 0;
      }

      .search-results {
        display: flex;
        flex-wrap: wrap;
      }

      .single-result {
        width: 25%;
        padding: 1em;
      }

      .single-result-poster img {
        max-width: 100%;
      }

      .single-result-information {

      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>