<h1>Create a new advert</h1>

<form method="POST">
  <label for="input-title">Title</label>
  <input type="text" id="input-title" name="title" placeholder="Advert Title"/>

  <label for="input-description">Description</label>
  <textarea id="input-description" name="description" placeholder="A short description of the product..."></textarea>
  
  <label for="input-location">Location</label>
  <input type="text" id="input-location" name="location" placeholder="City and Address"/>

  <button>Create Advert</button>
</form>
