<form method="POST">
  <label for="input-email">Email</label>
  <input id="input-email" type="email" name="email" placeholder="A valid email">

  <label for="input-password">Password</label>
  <input id="input-password" type="password" name="password" placeholder="A strong password">

  <button>Log In</button>
</form>
