<form method="POST" enctype="multipart/form-data">
  <label for="input-name">Name</label>
  <input id="input-name" type="text" name="name" placeholder="Your name">

  <label for="input-email">Email</label>
  <input id="input-email" type="email" name="email" placeholder="A valid email">

  <label for="input-profile-picture">Profile Picture</label>
  <input id="input-profile-picture" type="file" name="picture" accept="image/png, image/jpeg">

  <label for="input-password">Password</label>
  <input id="input-password" type="password" name="password" placeholder="A strong password">

  <button>Sign Up</button>
</form>
