<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Authentication</title>
    <style>
      body {
        max-width: 60em;
        margin: 0 auto;
        font-family: sans-serif;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      input,
      button {
        padding: 1em;
        border: 1px solid grey;
        font: inherit;
        margin-bottom: 1em;
        background-color: transparent;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
      
      nav {
        display: flex;
        margin-bottom: 1em;
      }

      nav a,
      nav button {
        padding: 1em 0;
        margin-right: 1em;
      }

      nav a:first-child {
        margin-right: auto;
      }

      nav button {
        border: 0;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
        <a href="/profile">{{user.name}}'s Profile</a>
        <form method="POST" action="/authentication/log-out">
          <button>Log Out</button>
        </form>
        {{else}}
        <a href="/authentication/sign-up">Create an Account</a>
        <a href="/authentication/log-in">Log In</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>