@import 'variables';

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  padding-top: 2em;
  font-family: $brand-font-family;
  line-height: 1.5;
  max-width: 80em;
  margin: 0 auto;
  .navbar {
    flex: 0 0 15em;
  }
  .page {
    flex: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
