@import 'variables';

.resource-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resource-item {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid lighten($grey, 72%);
  a {
    flex: 1;
    display: flex;
    padding: 1em 0;
    h4 {
      font-size: 1.5em;
    }
  }
  img {
    margin-right: 2em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
  }
  button {
    height: 100%;
    width: 6rem;
    padding: 0;
    border: 0;
    box-shadow: 0 0;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 2em;
  }
}

.resource-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resource-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  h4 {
    margin: 0;
  }
  span {
    margin-left: 1em;
    text-transform: uppercase;
    color: grey;
    font-weight: 700;
  }
}

.topic-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.topic-item {
  margin-right: 0.5em;
  padding: 0.25em 0.5em;
  color: white;
  background-color: hsl(45, 100%, 60%);
  text-transform: uppercase;
  border-radius: 0.25em;
  font-size: 0.75em;
  font-weight: bold;
}

.topic-item-javascript {
  background-color: hsl(45, 100%, 55%);
}
.topic-item-css {
  background-color: hsl(350, 100%, 60%);
}
.topic-item-html {
  background-color: hsl(34, 100%, 55%);
}
.topic-item-mongodb {
  background-color: hsl(125, 80%, 35%);
}
.topic-item-canvas {
  background-color: hsl(281, 100%, 60%);
}
.topic-item-react {
  background-color: hsl(220, 75%, 50%);
}
.topic-item-vue {
  background-color: hsl(123, 85%, 65%);
}
